<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CampusOps Admin</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="overlay"></div>

<nav class="navbar">

    <div class="logo">
        CampusOps
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/complaint">Complaint</a>
        <a href="/dashboard">Dashboard</a>
    </div>

</nav>

<div class="form-page">

    <div class="form-container glass-card">

        <h1>Admin Login</h1>

        <p class="admin-text">
            Login to manage complaints and monitor campus services.
        </p>

        <form method="POST">

            <input
                type="text"
                name="username"
                placeholder="Enter Username"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <a href="/" class="back-link">
            ← Back to Home
        </a>

    </div>

</div>

</body>
</html>